.buttonsDiv {
  display: flex;
  justify-content: space-between;
}
.card {
  min-width: 260px;
  margin: 5px;
}

.descriptionText {
  height: 65px;
  overflow: scroll;
  overflow-x: hidden;
}

.itemText {
  margin: 1px;
}

.descriptionText::-webkit-scrollbar {
  width: 5px;
}

.descriptionText::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.descriptionText::-webkit-scrollbar-thumb {
  background: rgb(0, 195, 255);
}
.descriptionText::-webkit-scrollbar-thumb:hover {
  background-color: rgb(27, 75, 179);
}

.cardImage {
  height: 190px;
  object-fit: cover;
}
